@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes logo-slider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-logo-slider {
  width: max-content;
  animation: logo-slider 30s linear infinite;
}

.animate-logo-slider:hover {
  animation-play-state: paused;
}